<div class="new-all">

    <head>
        <div class="new-text">
            <div class="new-colortext">
                <p>Book was successfully created.</p>
            </div>
            <p>Title</p>
            <p>Body</p>
        </div>
    </head>

    <body>
        <div class="new-buttn">
            <%= link_to "Edit", "edit" %>
            <%= link_to "Back", "/books" %>
        </div>
    </body>

</div>