<div class="show-all">

    <head>
        <div class="show-text">
            <div class="show-colortext">
            </div>
            <p>Title</p>
            <p>Body</p>
        </div>
    </head>

    <body>
        <div class="new-buttn">
            <%= link_to "Edit"%>
        <%= link_to "Back", "/books" %>
        </div>
    </body>

</div>